fastapi==0.115.0
uvicorn==0.30.6
httpx==0.27.2
python-dotenv==1.0.0
pydantic==2.9.2

# DO NOT, AND I REPEAT, DO NOT CHANGE ANYTHING IN THIS FILE.
# RENDER WILL TAKE YOUR SOUL. YOU'VE BEEN WARNED.
# HOURS SPENT HERE: 60
